body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-title{
  text-align: center;
  margin-left: 30%;
}

.title{
  font-family:'Courier New', Courier, monospace;
  color: white;
  font-size: 55px;
}

.logo{
width: 108px;
height: 180px;
border-radius: 50%;
margin-left: 90%;
}



.divRed{
  background-color: rgb(148, 7, 7);
}



.redSocial{
  margin-left: 15%;
}
.redSocial a{
  margin: 20px;
  font-family: sans-serif;
font-size: 25px;}

.redSocial img{
  height: 45px;
  width: 40px;
  border-radius: 50%;
  opacity: 0.8;
}
.redSocial img:hover{
  box-shadow: 0px 0px 20px white;
  opacity: 10;
  
}



.nav img{
  width: 25px;
  height: 29px;
  border-radius: 50%;
}

.container-icono{
border: solid rebeccapurple 2px;
}

.nav-mobile{   /* color barra menu hambur*/
  color:white;
  position: sticky;
}



/*  Estilos de la inspeccione en google */

/* cabezera Pantalla Completa */
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: black;
}

.red{
  background-color: black;
  box-shadow: 0px 0px 20px black;
}

/* cabezera Mobile*/
.css-19r6kue-MuiContainer-root {
  background-color: black;
}



/*  CARD   */
.container-card{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 650px;
  height: 700px;
}

.imgCAR {
background-color: black;
  height: 500px;
  width: 650px;
}

.css-o69gx8-MuiCardMedia-root img {
  height: 150px;
  width: 150px;
}

/* img de card*/
.css-o69gx8-MuiCardMedia-root {
  width: 650px;
  
}

  
  /*   btn */
  
  .btn{
   /* background-color: rgb(50, 180, 255);*/
    background-color: transparent;
    color: gray;
    opacity: .3;
    border: solid 2px transparent;
    transition: all .2s;
    
    
  }
 .btn:hover{
 transition: all .3s;
  color: white;
  opacity: 1;
  font-size: 70px;
 }
 
 
 .btn.L{
  z-index: 999;
  position: absolute;
  margin-left: 50px;
 }
 .btn.R{
  position: absolute;
  margin-left:520px;
  }
  

 
 
  .card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .card-container video{
    height: 700px;
    width: 100%;
    border-radius: 5px;
  }




.detail{
  text-align: center;
  width: 700px;
}

.figcaption-slider{
width: 600px;
text-align: center;
margin-top: 20px;
font-family: sans-serif;
font-size: x-large;
color: white;
}


/*  ICON mui */

.map{
border-radius: 50%;
  color: rgb(63, 124, 255);
  border-top: .2px solid #EA4335;
  border-right: .2px solid #4285F4;
  border-bottom: .2px solid #34A853;
  border-left:.2px solid #FBBC05;
  border-radius: 50%;
}

.mapWeb{
  border-radius: 50%;
    color: rgb(63, 124, 255);
    border-top: 5px solid #EA4335;
    border-right: 5px solid #4285F4;
    border-bottom: 5px solid #34A853;
    border-left:5px solid #FBBC05;
    border-radius: 50%;
    
  
  }


.insta{
color: white;

  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border-radius: 40%;
}
.wpp{
  color: green;
}
.wpp:hover{
  color: green;
}




@media screen and (max-width: 800px){

  .detail{
    text-align: center;
    width: 300px;
  }
  .figcaption-slider{
    width: 300px;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: x-large;
    margin-left :10px;
    }
    
  .card-container{
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(11, 11, 11);
    
    }
.card-container video{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
  .title{
    display: none;
  }
  
  .container-title{
    text-align: center;
    margin-left: 90px;
  }
  
    .logo{
      height: 75px;
      width: 64px;
      border-radius: 50%;
      position: sticky;
      margin-left: 50px;
    }
    
    .nav-mobile{
      margin-left: -200px;
    
    }
    
  .redSocial{
    display: none;
  }
  

  
  .card{
    width: 240px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imgCAR {
    height: 820px;
    width: auto;
  }
  .btn{
    background-color: transparent;
    color: rgb(144, 19, 19);
    opacity: .4;
    border: solid 2px transparent;
    transition: all .2s;
  }

  .btn.L{
    z-index: 999;
    margin-right: 79%;
   }
   .btn.R{
   position: absolute;
   margin-right: 60%;
   }
   
   .btn:hover{
      color: rgb(144, 19, 19);
   opacity: .8;
  font-size: 42px;
   
    }
  .figcaption-slider{
    font-size: 18px;
    
  }        
  }



  
  .css-i4bv87-MuiSvgIcon-root{
    width: 2em;
  }
  .wppNav{
   color: green;

  }
  
    
  
  
  @media screen and (max-width: 450px){
  
    .btn.L{
      margin-right: 78%;
     }
     .btn.R{
     margin-right: 60%;
     }
     .btn:hover{
          color: rgb(144, 19, 19);
      opacity: .8;
  font-size: 42px;
      
       }
  }
  
  @media screen and (max-width: 400px){
  
    .btn.L{
      margin-right: 82%;
     }
     .btn.R{
     margin-right: 63%;
     }
     
     .btn:hover{
    color: rgb(144, 19, 19);
      opacity: .8;
  font-size: 42px;
      
       } 
    }





  @media screen and (max-width: 390px){
    .btn:hover{
          color: rgb(144, 19, 19);
      opacity: .8;
       }
    .btn.L{
      margin-right: 90%;
     }
     .btn.R{
     margin-right: 69%;
     }
  }






/* Estilo Cards Servi */



  /*
   Ver apra logos pag comleta 
  
 border-top: 100px solid #EA4335;
  border-right: 100px solid #4285F4;
  border-bottom: 100px solid #34A853;
  border-left: 100px solid #FBBC05;
  border-radius: 50%;
  background-color: #FFFFFF;


  
*/